<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="BlueBees4U">
	<meta name="author" content="BlueBees4U">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>BlueBees4U</title>
	<!--Favicon-->
    <link rel="shortcut icon" href="images/Logo.png" type="image/x-icon">
	<link rel="icon" href="images/Logo.png" type="image/x-icon">
   	<!-- Google font (font-family: 'Montserrat', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
	<!-- Google font (font-family: 'Open Sans', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700" rel="stylesheet">
    <!-- Bootstrap Css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Icons Css-->
    <link rel="stylesheet" type="text/css" href="css/themify-icons.css">
    <!-- Font Awesome Css-->
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <!-- OWL Carousel Css-->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <!-- Slick Css -->
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <!-- Magnific Popup Css -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <!-- Custom Css -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Paradise Slider Main Style Sheet -->
    <link href="css/full_width_animated_layers_002.css" rel="stylesheet" media="all">
	
</head>
<body>

	<!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

	<!-- Preloader -->
	<div id="preloader" class="Bee_Cursor">
	  <div class="ozient-folding-cube">
		  <div class="ozient-cube1 ozient-cube"></div>
		  <div class="ozient-cube2 ozient-cube"></div>
		  <div class="ozient-cube4 ozient-cube"></div>
		  <div class="ozient-cube3 ozient-cube"></div>
		</div>
	</div>
	<!-- *****Main Wrapper***** -->
	<div id="home" class="main-wrapper">
		<!-- SUB NAVBAR -->
		<div class="top_navbar d-none d-lg-block">
			<nav class="navbar">
		        <div class="container">
		          	<span style='color: black'>&nbsp;09638999222</a></span> 
					<span style='color: black'>&nbsp;info@bluebees4u.com</a></span>
		        	<span style='color: black' href="">&nbsp;&nbsp;Sunday - Saturday, 9.30 a.m. - 6.00 p.m.</a></span>
		        </div>
		    </nav>
		</div>
		
		<header class="main-header">
			<div class="main_navbar">	
			<!-- MAIN NAVBAR -->
						<nav class="navbar navbar-expand-lg navbar-dark">
					<div class="container">
					  <a class="navbar-brand logo-sticky" href="index.html"><img class="img-fluid" src="images/Logo.png" alt="Bluebees4U" /></a>
					  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
						<div class="collapse navbar-collapse" id="navbarNav">
						  <ul class="navbar-nav mr-auto">
							 	<li>
									<a href="index.html" class="nav-link">Home</a>
								</li>
								<li>
									<a href="services.html" class="nav-link">Services</a>
								</li>
								<li class="nav-item dropdown">
									<a href="#AllPackages" class="nav-link dropdown-toggle" data-toggle="dropdown">Packages</a>
									<div class="dropdown-menu">
										<a href="index.html#AllPackages" class="dropdown-item">All Packages</a>
										<a href="index.html#HoneyBeePackage" class="dropdown-item">Honey Bee Package</a>
										<a href="index.html#BumbleBeePackage" class="dropdown-item">Bumble Bee Package</a>
										<a href="index.html#QueenBeePackage" class="dropdown-item">Queen Bee Package</a>
										<a href="index.html#CustomizedPackage" class="dropdown-item">Customize Your Package</a>
										<a href="index.html#OnboardingPackage" class="dropdown-item">Onboarding Package</a>
									</div>
								</li>
								<!-- <li>
									<a href="blog_page.html" class="nav-link">Blog</a>
								</li> -->
								<li>
									<a href="contact_page.html" class="nav-link">Contact</a>
								</li> 
								  <li class="nav-item dropdown">
									<a href="chat.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Chat</a>
									<div class="dropdown-menu">
									  <a href="https://www.messenger.com/bluebees4u/" class="dropdown-item">Messenger</a>
									  <!-- <a href="https://web.whatsapp.com" class="dropdown-item">WhatsApp</a> -->
									</div>
								  </li>
						  </ul>
						  <!--
						  <ul class="navbar-nav ml-auto">
								   <li class="nav-item mt-4 mb-4">
									  <a class="link-outline" href="registration_page.html"><i class="icon fas fa-sign-in-alt"></i>&nbsp;Sign Up</a>
									  <a class="link-outline" href="login_page.html"><i class="icon fas fa-sign-in-alt"></i>&nbsp;Login</a>
								  </li>
							  </ul>
							  -->
						  <!-- <ul class="navbar-nav ml-auto">
								   <li class="nav-item mt-4 mb-4">
									  <a class="link-outline" href="login_page.html"><i class="icon fas fa-sign-in-alt"></i>&nbsp;Login</a>
								  </li>
							  </ul> -->
						</div>
					  </div>
				</nav>
		    </div>
		</header>

			<div class="page_banner">
			<div class="overl"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-6 col-sm-12 pt-5">
							<div class="section-heading">
								<h1 class="display-4 text-white">Services</h1>
							</div>
							<div class="section-inline">
								<ul class="list-inline">
									<li class="list-inline-item">
									  <a class="home text-white" href="index.html">Home</a>
								  </li>
								  <li class="list-inline-item">
									<i class="home text-white fa fa-angle-double-right"></i>
								  </li>
								  <li class="list-inline-item">
									<p class="home text-white">Services</p>
								  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		
<!-- *****About section***** -->
			<section id="about">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6 col-sm-12">
							<div class="about_img mb-30-sm">
								<img src="images/WhyLoveService.png" alt="WhyLoveService">
							</div>
						</div>
						<div class="col-12 col-lg-6 col-sm-12">
							<div class="about">
								<h1 class="section-heading">This is why you will <br> love our service</h1>
								<p>
									Bluebees4U works to understand the uniqueness of your business and vision so that we can set up and support your success every day.
								</p>
								<ul class="list-item">
									<li><i class="far fa-check-square"></i> Email Communications</li>
									<li><i class="far fa-check-square"></i> Message and Comment Reply</li>
									<li><i class="far fa-check-square"></i> Business Feedback</li>
								</ul>
								<!-- <button class="btn btn-primary" type="button" onclick="document.location='chat.html'">Chat with us</button> -->
							</div>
						</div>
						
					</div>
				</div>
			</section>		

			
			<!-- Facts section start-->
<!--
		    <section class="facts_area">
		        <div class="container text-center">
		            <div class="row">
-->
		                <!-- Single Fact-->
<!--
		                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
		                    <div class="single-fact justify-content-center">
		                    	<div class="stats-icons">
		                    		<i class="far fa-check-circle"></i>
		                    	</div>
		                        <div class="counter-area">
		                            <h3><span class="counter">200</span></h3>
		                        </div>
		                        <div class="facts-content">
		                            <i class="ion-arrow-down-a"></i>
		                            <p>Cases Solved</p>
		                        </div>
		                    </div>
		                </div>
-->
		                <!-- Single Cool Fact-->
<!--
		                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
		                    <div class="single-fact justify-content-center">
		                    	<div class="stats-icons">
		                    		<i class="fas fa-user"></i>
		                    	</div>
		                        <div class="counter-area">
		                            <h3><span class="counter">20</span></h3>
		                        </div>
		                        <div class="facts-content">
		                            <i class="ion-happy-outline"></i>
		                            <p>Trained Experts</p>
		                        </div>
		                    </div>
		                </div>
-->
		                <!-- Single Cool Fact-->
<!--	
		                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
		                    <div class="single-fact justify-content-center">
		                    	<div class="stats-icons">
		                    		<i class="fas fa-code-branch"></i>
		                    	</div>
		                        <div class="counter-area">
		                            <h3><span class="counter">37</span></h3>
		                        </div>
		                        <div class="facts-content">
		                            <i class="ion-person"></i>
		                            <p>Branches</p>
		                        </div>
		                    </div>
		                </div>
-->	
		                <!-- Single Cool Fact-->
<!--	
		                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
		                    <div class="single-fact justify-content-center">
		                    	<div class="stats-icons">
		                    		<i class="far fa-heart"></i>
		                    	</div>
		                        <div class="counter-area">
		                            <h3><span class="counter">480</span></h3>
		                        </div>
		                        <div class="facts-content">
		                            <i class="ion-ios-star-outline"></i>
		                            <p>Satisfied Clients</p>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
-->
			<!-- *****Services section***** -->
			<section id="services">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Customer Support Services</h1>
								<p>We will complete the needs of your customers through digital channels such as email, text messaging, chat, and social media messaging. Although it’s differentiated from traditional phone-based customer service, today, technologies like us exist to enable the integration of digital customer service with voice calls.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/CustomerSupportService.png" alt="Services">
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/EmailCommunication.png" alt="Services">
							</div>
						</div>
						<div class="col-lg-6 order-first order-lg-2">
							<div class="services_info">
								<h1 class="section-heading">Email Communication</h1>
								<p>A vast majority of customers are frustrated with bad customer service or communication, we will help you to communicate with your customer with a very effective manner, where email communication is effective to communicate with the customers.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Message and Comment Replies</h1>
								<p>If your customer contacted your business for support and have not heard back from you for a few days, it is frustrating for them. This is one of the common scenarios many customers face as businesses fail to understand problems by putting themselves in clients’ shoes. With us, you have no worries with that.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/MessageCommentReply.png" alt="Services">
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/DeliveryInformationStatus.png" alt="Services">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Delivery Information and Status Support</h1>
								<p>The service delivery status report must be regularly sent to the customer management team based on the agreed requirements like e weekly/ monthly/ quarterly. This report will be prepared by our service provider’s team ensuring all the data is accurate.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Customer Support Solutions</h1>
								<p>Our complete solution helps your businesses to gain a deeper understanding of your customers’ needs and expectations. We work to streamline and improve customer communications therefore increasing customer satisfaction.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/CustomerSupportSolution.png" alt="Services">
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/BusinessFeedback.png" alt="Services">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Business Feedback</h1>
								<p>As feedback allows business to keep track of their success. It also allows them to make any necessary improvements to increase their success. Our work is to make a bridge with you and your customer by providing you the genuine business feedbacks.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Customer Opinion</h1>
								<p>Customers have different perceptions on business services or products, they may have come up with suggestion which can help to ensure that the end product will actually meet their expectation, solve their problems and fulfill their needs.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/CustomerOpinion.png" alt="Services">
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/Telemarketing.png" alt="Services">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Telemarketing</h1>
								<p>The practice of contacting, vetting, and approaching potential customers which can be beneficial for your business is included in our service with inbound, outbound, lead generation (collection of intelligence about the profiles, interests, and demographic data of potential customers) and sales.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Customer Satisfaction Surveys</h1>
								<p>Customer satisfaction is a key dimension driving business outcomes and performance of processes in service and product organizations. We will help you to make a questionnaire that would help your businesses understand you’re your customers think about your products or services, your brand, you’re your customer support.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/CustomerSatisfactionSurvey.png" alt="Services">
							</div>
						</div>
					</div>

					<div class="row no-gutters mt-1">
						<div class="col-lg-6">
							<div class="services_img">
								<img src="images/FollowUpCallsMailers.png" alt="Services">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services_info">
								<h1 class="section-heading">Follow-up Calls and Mails</h1>
								<p>Follow-up calls and mails make your customers feel important. It improves customer experience and builds strong customer relationships. When you follow-up your customers, it retains them, provides more sales opportunities and enhances communication. Thus, it brings you competitive advantage.</p>
								<!-- <a href="#" class="btn btn-primary">Read More</a> -->
							</div>
						</div>
					</div>

				</div>
			</section>
			
			
			<section class="offer-section" id="special">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10 col-md-10">
							<div class="offer-content">
								<h1 class="section-heading1">If you have any query</h1>
								<h4 class="offer">we are available 24/7</h4>
							</div>
						</div>
						<div class="col-12 col-lg-2 col-md-2 col-xs-12">
							<a href="contact_page.html" class="btn btn-outline-info blue bg-warning">Contact Us</a>
						</div> 
					</div>
				</div>
			</section>
		
		    <!-- ***** Footer section start ***** -->
		    <footer class="footer">
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-4 pr-30">
		    				<div class="footer_about">
		    					<h3>About Us</h3>
		    					<div class="line-title-left"></div>
		    					<p class="text-white">Bluebess4U offers a wide range digital service where every individual or business or business entrepreneur will get a dedicated service along with a call center including both inbound and outbound calls. We provide bilingual services in both English and Bangla. We have a dedicated and well trained cadre of customer support specialists who are able to consistently provide excellent services delivered in a timely and cost-effective manner.</p>
		    				</div>
		    			</div>
		    			
						<div class="col-md-4 pr-30">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.0805898850954!2d90.4235941149819!3d23.78014438457481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7371d769487%3A0xf2345a284c325164!2sBlueBees%20Limited!5e0!3m2!1sen!2sbd!4v1636435085710!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>

		    			<div class="col-md-4 pr-30">
		    				<div class="footer_address">
		    					<h3>address</h3>
		    					<div class="line-title-left"></div>
		    					<ul class="address-list">
									<li>
										<p><i class="fas fa-map-marker"></i>Manama MS Toren, Plot # Ga-99/3A/B, Pragati Sarani, Gulshan-1, Dhaka-1212</p>
									</li>
									<li>
										<p><i class="fas fa-mobile-alt"></i>09638999222</p>
									</li>
									<li>
										<p><i class="far fa-envelope"></i>info@bluebees4u.com</p>
									</li>
									<li><p><a href="https://www.facebook.com/bluebees4u/"><i class="fab fa-facebook-f"></a></i>Connect with Our Facebook</p></li>
								</ul>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </footer>
		    <div class="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center" style='color: white'>
								Copyright <a href="index.html" style='color: blue'>BlueBees4U.</a> All Rights Reserved.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** End Main Wrapper ***** -->


	<!-- Jquery-2.2.4 JS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- login JS -->
    <script src="js/login.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="js/bootstrap.min.js"></script>
	 <!-- Touch Swipe JS File Version - 1.6.18 -->
    <script src="js/jquery.touchSwipe.min.js"></script>
	  <!-- Paradise Slider Main JS File -->
	  <script src="js/paradise_slider_min.js"></script>
    <!--Jquery Easing Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
	<!--Slick Js -->
	<script src="js/slick.min.js"></script>
	<!--Magnific Popup Js -->
	<script src="js/magnific-popup.js"></script>
	<!--OWL Carousel Js -->
	<script src="js/owl-carousel.min.js"></script>	
    <!-- Custom JS -->
    <script src="js/custom.js"></script>
	<!-- Messenger Plugin Code -->
	<script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "109072494844358");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>